{% extends "default.html" %}
{% load i18n %}
{% load account %}

{% block title %}
{% trans "Подтверждение почтового адреса" %}
{% endblock title %}

{% block content %}
<div style="margin: auto; width:65%;border:1px solid #aaaaff;padding:20px;background-color:#eeeef0;">
<h3 style="margin:10px 0px 40px 0px;">{%trans 'Подтвердите регистрацию' %}</h3>

{% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
        <p>{% blocktrans with confirmation.email_address.email as email %}
            Пожалуйста подтвердите регистрацию почтового адреса <a href="mailto:{{ email }}">{{ email }}</a>
            для пользователя {{ user_display }}.
            {% endblocktrans %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Подтверждаю' %}" style="font-weight: bold;width:155px;margin-top:40px;">
        </form>
    {% else %}
        <p>{% blocktrans %}Невозможно подтвердить {{ email }} так как этот алдес используется другой учетной записью.{% endblocktrans %}</p>
    {% endif %}
{% else %}
    {% url 'account_email' as email_url %}
    <p>{% blocktrans %}Это сообзение устарело иои не действительно. Пожалуйста пройдите регистрацию снова.</a>.{% endblocktrans %}</p>
{% endif %}

</div>

{% endblock content %}
