{% extends "default.html" %}
{% load i18n %}

{% block title %}
Вход / регистрация
{% endblock title %}

{% block content %}
<div style="margin: auto; width:65%;border:1px solid #aaaaff;padding:20px;background-color:#eeeef0;">
<h3 style="margin:10px 0px 40px 0px;"> Вход в портал "Доска объявлений"</h3>

<p>{% blocktrans %}Если Вы ещё не создали учетную запись, пожалуйста, зарегистрируйтесь перейдя по ссылке
<a href="{{ signup_url }}">Регистрация</a>.{% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <p class="form-text error-text">{{ form.non_field_errors.as_text }}</p>
    <table style="width:100%;">
        <tr>
        <th style="text-align:right;width:40%;vertical-align:top;padding:8px;">Адрес электронной почты:</th>
        <td style="text-align:left;">
            <input type="email" aria-describedby="emailHelp" placeholder="Адрес эл. почты"
                   name="login" id="id_login"
                   {% if form.login.value %}
                   value="{{form.login.value}}"
                   {% endif %}
                   class="form-control shadow-none" style="width:285px;">
            <p id="emailHelp" class="form-text error-text">
                {{ form.login.errors.as_text }}
            </p>
        </td>
        </tr>
        <tr>
        <th style="text-align:right;padding:8px;vertical-align:top;">Пароль:</th>
        <td style="text-align:left;">
            <input type="password"  aria-describedby="passwordHelp" placeholder="Пароль"
                   name="password" id="id_password"
                   class="form-control shadow-none" style="width:285px;">
            <p id="passwordHelp" class="form-text error-text">
                {{ form.password.errors.as_text }}
            </p>
        </td>
        </tr>
        <tr>
        <th colspan="2" style="padding-top:30px;text-align:center;">
            <input type="submit" value="Войти" style="font-weight: bold;width:125px;" id="loginButton">
        </th>
        </tr>
    </table>
</form>
</div>
{% endblock content %}
